<!doctype html>
<html>
<head>
    <title>Chase Horton|Projects</title>
    <?php include('./header.html');?>
    
</head>
<body>
    <div class="h-screen bg-gradient-to-br from-red-600 to-red-200 flex flex-col items-center">
        <header id="navBar" class="h-20 flex justify-start pt-4 text-2xl rounded-b-2xl">
            <div class="navBar flex text-base md:text-3xl">
            <a href="../index.html" class="ml-4 md:ml-8 hover:text-gray-400">Home</a>
            <a href="projects.html" class="ml-4 md:ml-8 hover:text-gray-400">Projects</a>
            <a href="about.html" class="ml-4 md:ml-8 hover:text-gray-400">About me</a>
            <a href="contact.html" class="ml-4 md:ml-8 hover:text-gray-400">Contact</a>
            <a href="terminal.html" class="ml-4 md:ml-8 hover:text-gray-400">Terminal</a>
            </div>
        </header>
    </div>
</body>
</html>